@import '../../variables.scss';
@import '../../mixins.scss';

$about-products-font-weight-main-text: 500;
$about-products-font-weight-paragraph: 200;
$about-products-font-size-paragraph: 1.5rem;
$about-products-line-height-paragraph: 3rem;
$about-products-btn-bg: #1067a3;
$about-products-btn-text-color: #fff;

.about-container {
	padding: 70px 0;
	background-color: $section-about-products;
	.about {
		display: flex;
		flex-direction: column;

		&__infos {
			&__main {
				color: $text-main;
				font-weight: $about-products-font-weight-main-text;
				margin-bottom: 15px;
				@include bp(desktop) {
					font-size: 4rem;
				}
			}
			&__description {
				color: $text-paragraph;
				font-weight: $about-products-font-weight-paragraph;
				font-size: $about-products-font-size-paragraph;
				line-height: $about-products-line-height-paragraph;
				@include bp(desktop) {
					font-size: 1.8rem;
				}
			}
			@include bp(desktop) {
				margin-left: 30px;
			}
		}
		&__image {
			margin: auto;
			width: 100%;
			max-width: 400px;
		}

		@include bp(desktop) {
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
		}
	}
}
