@import '../../../variables.scss';
$input-padding: 12px;
$input-border-radius: 4px;
$input-border-color: #ccc;
$input-background-color: #fff;
$input-focus-border-color: #007bff;
$input-placeholder-color: #999;
$file-input-height: 50px;
.form-group {
	margin-bottom: 20px;
	label {
		color: $text-main;
		font-weight: 400;
		display: block;
		margin-bottom: 10px;
	}
	input,
	textarea {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 0;
		&:focus {
			border-color: $primary-color;
			outline: none;
		}
	}
	input[type='file'] {
		height: $file-input-height;
		padding: $input-padding;
		border-radius: $input-border-radius;
		border: 1px solid $input-border-color;
		background-color: $input-background-color;
		font-size: 16px;
		color: #333;
		transition: border-color 0.2s ease-in-out;

		&::placeholder {
			color: $input-placeholder-color;
		}

		&.is-invalid {
			border-color: red;
		}
	}
	textarea {
		min-width: 100%;
		min-height: 100px;
		max-width: 100%;
		max-height: 100px;
	}
}
