* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}

html,
body {
	height: 100%;
}

body {
	font-size: 1.8rem;
	font-family: 'Montserrat', sans-serif;

	font-weight: 400;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}
.wrapper {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1200px;
}

.invalid-feedback {
	color: crimson;
	font-size: 1.2rem;
	margin: 10px 0;
}

.ic {
	cursor: pointer;
}

// margins
.m-t {
	&--10 {
		margin-top: 10px;
	}
	&--20 {
		margin-top: 20px;
	}
	&--40 {
		margin-top: 40px;
	}
}
.m-b {
	&--10 {
		margin-bottom: 10px;
	}
	&--20 {
		margin-bottom: 20px;
	}
}

// padding
.p {
	&--70 {
		padding: 70px 0;
	}
}

// width
.w {
	&--100 {
		width: 100%;
	}
	&--300 {
		max-width: 300px;
	}
	&--500 {
		max-width: 500px;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
