* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

html,
body {
	height: 100%;
}

body {
	font-size: 1.8rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1200px;
}
